*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
}
.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.sidebar{
    grid-column: span 1 ;
    background-color:  white;
    padding: 1em;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: solid 1px  rgb(153, 152, 152);
}
.sidebar h1 a{
    color:  rgb(255, 191, 108);
    text-decoration: none;
    font-size: 3em;

}
.ic-head{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sidebar ul{
    list-style: none;
}
.sidebar li{
    margin: 2em 0;
}
.sidebar ul>li>a{
    color: rgb(153, 152, 152);
    font-size: 2em;
    text-decoration: none;
}
.content{
    grid-column: span 11;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 1em;
    overflow: scroll;
}

.content h1{
    text-align: center;
    color: rgb(121, 118, 118);
    font-size: 1.8em;
}
.p  {
    padding: 1em 2em;
    text-align: justify;
}
.p-2{
    padding: 3em;
}
.box-grid{
    grid-column: span 4;
    border:rgb(121, 118, 118) solid 2px;
    
}
.parrafo1{
    padding:  1em ;
    text-align: justify;
}
.btn{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn>a{
    border:  1px solid gray;
    padding: 0.5em;
    color: black;
    text-decoration: none;
}
.btn>a:hover{
    border:  1px solid gray;
    padding: 0.5em;
    color: white;
    background-color: rgb(255, 191, 108);
    text-decoration: none;
}
.gap{
    gap: 1em;
}
.tab{
    margin: 1em auto;
    width: 60%;
    padding: 2em;

    border: rgb(153, 152, 152) 1px solid;
}
.tab input{
    display: none;
}
.tab label{
    font-size:  1.5em;
}
.tab-info{
    max-height: 0;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height  .35;
    overflow: hidden;
}

.tab input[type=checkbox] + label::after {
    content: "\25BE";
    font-weight:bold; 
    border-width: 1px;
    border-radius: 9999px; 
    border-color: #b8c2cc; 
}

.tab input[type=checkbox]:checked + label::after {
    transform: rotate(180deg);
    background-color: #9da3c4; 
    color: #f8fafc; 
}

.tab label::after {
    float:right;
    right: 0;
    top: 0;
    display: block;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5;
    font-size: 1.25rem;
    text-align: center;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}


.tab input:checked~ .tab-info{
    max-height: 100vh;
}
.link{
    padding: 1em;
}
.link>a{
    color: black;
    text-decoration: none;
}



@media (max-width: 750px ){
    body{
        overflow-y: scroll;
    }
    .grid{
        grid-template-columns: repeat(1, 1fr);
    }
    .sidebar{
        flex-direction: row;
        height: 10vh;
      
    }
    .sidebar ul{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
        width: 90vh;
    }
    .content{
        overflow: hidden;
    }
}