@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
}
.header{
    height: 600px;
    background-color:  rgb(240, 193, 37);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: height 0.2s;
}
.header>.title{
    font-family: 'Source Code Pro', monospace;
    font-size: xx-large;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.header>.menu>ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}
.header>.menu>ul li{
    margin: 0 1.2em;
}
.menu a{
    color: white;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.rHeader{
    position: fixed;
    height:70px;
    width: 100%;
    flex-direction: row;
    transition: height 0.2s;
    box-shadow: 0 0 5px rgba(black, .2)
}
.rHeader>.title{
    font-size: medium;
    width: 60%;
    justify-content: flex-start;
    margin: 2em;
    text-align: justify;
}
.rHeader>.menu li{
    font-size: 1.2em;
}

.body{
    padding: 110px 0 0 0  ;
    background-color: rgb(240, 240, 240);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card{
    width: 60%;
    margin: 2em 0;
    background-color: white;
    padding: 3em;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 1px 1px gray;
}
.card h1{
    text-align: center;
    font-size: 2em
}
.section{
    font-size: 1.5em;
    text-transform: uppercase;
}
.url-section{
    list-style: none;
}
.url-item{
    text-decoration: none;
    color: black;
}

@media(max-width: 700px){
    .rHeader>.menu li{
        font-size: small;
    }
    .header>.title{
        font-size: small;
        text-align: center;
    }
}